<section id="todos">
  <header>
    <h2> Editing '<%= @list_detail[:name] %>'</h2>
    <ul>
      <li>
        <form action="/lists/<%= params[:idx] %>/delete" method="post">
          <button class="delete" type="submit">
            Delete List
          </button>
        </form>
      </li>
    </ul>
  </header>
</section>

<form action="/lists/<%= params[:idx] %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new name for the list</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list_detail[:name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= params[:idx] %>">Cancel</a>
  </fieldset>
</form>