<% if session[:success] %>
  <div class="flash success">
    <p><%= session.delete(:success) %></p>
  </div>
<% end %>
<ul id="lists">
  <% @lists.each_with_index do |list, idx| %>
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= idx %>">
        <h2>
          <%= list[:name] %> <p><%= remaining_todos(list) %> / <%= list[:todos].size %></p>
        </h2>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New list</a>
<% end %>